html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}

div {
  margin: 0;
  padding: 0;
}

// 隐藏画布中节点双击后出现的输入框
.djs-direct-editing-parent {
  display: none !important;
}

// 设置contextPad中连接线图片
.djs-context-pad .icon-custom-connection-line {
  background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1603275343166&di=a62fcdb9d19d58e43bb794eb68ca5980&imgtype=0&src=http%3A%2F%2Fpic.51yuansu.com%2Fpic2%2Fcover%2F00%2F51%2F85%2F5816978f13c47_610.jpg') center no-repeat !important;
  background-size: cover !important;
}

.djs-context-pad .icon-custom-delete {
  background: url('https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2908793783,258096275&fm=26&gp=0.jpg') center no-repeat !important;
  background-size: cover !important;
}
